body {
    font-family: 'Nova Mono', monospace;
    background-color:rgba(255, 166, 0, 0.322);
}

#banner {
    background-color: orange;
    text-align: center;
    border-style: solid;
    padding: 10px;
}

#cities {
    margin: 10px;
}

#current {
    margin: 15px;
}

#fiveday {
    margin: 15px;
}

#citySpan {
    font-size: xx-large;
    font-weight: bold;
}

.uvLow {
    background-color: green;
}

.uvMed {
    background-color: yellow;
}

.uvHigh {
    background-color: orange;
}

.uvVH {
    background-color: red;
}

.uvEH {
    background-color: orangered;
}

