body {
    font-family: 'Nova Mono', monospace;
    background-color:rgba(255, 166, 0, 0.322);
}

.bold {
    font-weight: bold;
}

.text {
    background-color: orange;
    text-align: center;
    border-style: solid;
    padding: 5px;
}

#banner {
    background-color: orange;
    text-align: center;
    border-style: solid;
    padding: 10px;
    margin: 5px;
}

#cities {
    margin: 10px;
}

#current {
    margin: 10px;
}

#fiveday {
    margin: 10px;
}

#citySpan {
    font-size: xx-large;
    font-weight: bold;
}

.uvLow {
    background-color: green;
}

.uvMed {
    background-color: yellow;
}

.uvHigh {
    background-color: orange;
}

.uvVH {
    background-color: red;
}

.uvEH {
    background-color: orangered;
}

#leftList {
    align-items: center;
}

.smallWeather {
    width: 135px;
    height: 185px;
    margin: 5px;
    padding: 5px;
    outline-style: solid;
    text-align: center;
    background-color: whitesmoke;
};
