body {
    font-family: 'Nova Mono', monospace;
}

#banner {
    background-color: orange;
    text-align: center;
    border-style: solid;
    padding: 10px;
}

#cities {
    margin: 10px;
}

#current {
    margin: 15px;
}

#fiveday {
    margin: 15px;
}

#citySpan {
    font-size: xx-large;
    font-weight: bold;
}
